<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="E_Okul_Otomasyon.Properties.Settings.eokulConnectionString"
            connectionString="Data Source=LAB5OGR11;Initial Catalog=eokul;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="E_Okul_Otomasyon.Properties.Settings.eokul1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\eokul1.mdb"
            providerName="System.Data.OleDb" />
        <add name="E_Okul_Otomasyon.Properties.Settings.eokulConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\eokul.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>